RewriteEngine On
RewriteRule ^trang-chu.html$ index.php?controller=home
RewriteRule ^gio-hang.html$ index.php?controller_shop=cart
RewriteRule ^san-pham.html$ index.php?controller=giaynam
RewriteRule ^ho-tro-([0-9]+).html$ index.php?controller=hotro&id=$1
RewriteRule ^dang-ky.html$ index.php?controller=register
RewriteRule ^dang-nhap.html$ index.php?controller=login
RewriteRule ^tin-tuc.html$ index.php?controller=news
RewriteRule ^([0-9]+)-(.*).html$ index.php?controller=detail_news&id=$1
RewriteRule ^tim-kiem.html$ index.php?controller_shop=search
RewriteRule ^gio-hang/([0-9]+).html$ index.php?controller_shop=cart&act=buy&id=$1
RewriteRule ^chi-tiet-san-pham-([0-9]+)-([0-9]+).html$ index.php?controller=detail&danhmuc=$1&id=$2
RewriteRule ^san-pham.html$ index.php?controller=shop
RewriteRule ^khach-hang.html$ index.php?controller=customer
RewriteRule ^khach-hang.html$ index.php?controller_customer=customer_account
RewriteRule ^sua-thong-tin.html$ index.php?controller_customer=edit_customer_account&act=edit
RewriteRule ^sua-mat-khau.html$ index.php?controller_customer=editpass_customer_account
RewriteRule ^lich-su-mua-hang.html$ index.php?controller_customer=customer_order
RewriteRule ^lien-he.html$ index.php?controller_customer=customer_news
RewriteRule ^lien-he/tin-da-nhan.html$ index.php?controller_customer=customer_news&tt=1
RewriteRule ^lien-he/tin-da-gui.html$ index.php?controller_customer=customer_news&tt=0
RewriteRule ^lien-he/([0-9]+)/([0-9]+).html$ index.php?controller_customer=customer_detailnews&id=$1&tt=$2
RewriteRule ^gui-lien-he.html$ index.php?controller_customer=customer_feedback
RewriteRule ^(.*)-([0-9]+)-([0-9]+).html$ index.php?controller_shop=shop&nhom=$2&danhmuc=$3
RewriteRule ^ho-tro-([0-9]+).html$ index.php?controler=hotro&id=$1
RewriteRule ^trang-chu-([0-9]+).html$ index.php?controller=home&p1=$1