html,body, *{
	box-sizing: border-box;
	margin: 0 auto;
}
header {
	float: left;
}
.wrap {
	padding-right: 0px;
	padding-left : 0px;
	border-right: 2px double #ddd;
	border-left:  2px double #ddd;
}
#wrapper.toggled {
	padding-left: 230px;
}
#sidebar-wrapper {
	background-color: white;
}
#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}
.sidebar-nav > .sidebar-brand {
	height: auto;
	margin-left: -5px;
	font-size: 19px;
	font-style: italic;
}
.sidebar-nav img {
	width: 15%;
	float: left;
	display: block;
	padding-left: 10px;
	padding-top: 5px;
}
.sidebar-nav li:first-child img{
	padding-top: 10px;
	width: 19%;
}
.sidebar-nav li {
	padding-top: 10px;
	border: 2px solid white;
}
.sidebar-nav li:first-child {
	background-color: rgb(0, 152, 255);
}
.sidebar-nav li {
	background-color : #9d9d9d;	
}
.sidebar-nav a:link {
	color: white
}
.sidebar-nav a:hover {
	color: white
}
.sidebar-nav a:visited {
	color: white
}
.container-fluid {
	margin-top: 13px;
}
.logo img {
	width: 100%;
	margin-top: -10px;
	margin-left: 8px;
}
.logo {
	margin-top: 13px;
}
.btn-default {
	border-color: white;
	background-color: #eee;
	margin-top: 10px;
}
.btn-default:hover {
	border-color: white;
	background-color: #eee;
}
.btn-default:focus {
	border-color: white;
	background-color: #eee;
}
.header-right {
	padding-top: 10px;
}
.header-right img {
	width: 40%;
	padding-top: 27px;
	margin-left: 25px;
	display: block;
}

/*modal dang nhap*/
.login .modal-header {  
	border: 0 none; 
	padding: 15px 15px 15px;
}
.login .modal-body {    

	color: red;
}
.login .modal-footer {  
	border-top: 0;  
	margin-top: 0px;    
	padding: 10px 20px 20px;
}
.login{ 
	padding: 15px;  
	-moz-box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);  
	-webkit-box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);   
	box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);   
	background-color: #FFF;
	margin-top: 80px;
}
.login .division {  
	float: none;    
	margin: 0 auto 18px;    
	overflow: hidden;   
	position: relative; 
	text-align: center; 
	width: 100%;
}
.login .division .line {    
	border-top: 1px solid #DFDFDF;  
	position: absolute; 
	top: 10px;  
	width: 34%;
}
.login .division .line.l {  
	left: 0;
}

.login .division .line.r {  
	right: 0;
}

.login .division span { 
	color: #FFF;    
	font-size: 17px;
}
.login .box .social {   
	float: none;    
	margin: 0 auto 30px;    
	text-align: center;
}

.login .social .circle {    
	background-color: #EEEEEE;  
	color: #FFFFFF; 
	-moz-border-radius: 100px;  
	-webkit-border-radius: 100px;   
	border-radius: 100px;   
	display: inline-block;  
	margin: 0 10px; padding: 17px;
}

.login .social .circle .fa {    
	font-size: 16px;
}

.login .social .facebook {  
	background-color: #455CA8;  
	color: #FFFFFF;
}
.login .social .google {    
	background-color: #F74933;
}
.login .social .github {    
	background-color: #403A3A;
}

.login .facebook:hover {    
	background-color: #6E83CD;
}

.login .google:hover {  
	background-color: #FF7566;
}

.login .github:hover {  
	background-color: #4D4D4d;
}
.login .forgot {    
	color: #000;    
	margin-left: 0; 
	overflow: hidden;   
	text-align: center; 
	width: 100%;
}

.login .btn-login, .registerBox .btn-register { 
	background-color: blue;  
	border-color: #00BBFF;  
	border-width: 0;    
	color: white; 
	display: block; 
	margin: 0 auto; 
	padding: 15px 50px; 
	text-transform: uppercase;  
	width: 100%;
	font-size: 20px;
}

.login .form-control {  
	-moz-border-radius: 3px;    
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	background-color: rgba(0, 0, 0, 0.09);  
	-moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;   
	-webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;    
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;    
	color: #FFFFFF;
}

.login .form-control:hover {    
	background-color: rgba(0, 0, 0, .16);
}
.login .form-control:focus {    
	-moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;   
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;    
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;    
	background-color: rgba(0, 0, 0, 0.23);  
	color: #FFFFFF;
}

.login .box .form input[type="text"], .login .box .form input[type="password"] {    
	-moz-border-radius: 3px;    
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	border: none;   
	color:black; 
	font-size: 16px;    
	height: 46px;   
	margin-bottom: 5px; 
	padding: 13px 12px; 
	width: 100%;
	background-color: white;
}

.big-login, .big-register { 
	background-color: #00bbff;  
	color: #FFFFFF; 
	-moz-border-radius: 7px;    
	-webkit-border-radius: 7px; 
	border-radius: 7px; 
	border-width: 2px;  
	font-size: 14px;    
	font-style: normal; 
	font-weight: 200;   
	padding: 16px 60px; 
	text-transform: uppercase;  
	-moz-transition: all 0.3s ease 0s;  
	-o-transition: all 0.3s ease 0s;    
	-webkit-transition: all 0.3s ease 0s;   
	transition: all 0.3s ease 0s;
}
.big-login:hover {  
	background-color: #00A4E4;  
	color: #FFFFFF;
}
.big-register { 
	background-color: rgba(0, 0, 0, .0);    
	color: #00bbff; 
	border-color: #00bbff;
}

.big-register:hover {   
	border-color: #00A4E4;  
	color: #00A4E4;
}
.login-screen-bg {  
	background-color: #EFEFEF;
}
h4 { display: block; text-align: center; }
/*modal đăng kí*/
.form-control { 
	margin-bottom: 10px;
	padding-left: 3px;
}
.login-screen-bg {  
	background-color: #EFEFEF;
}
.col-center-block{
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.col-xs-4 {
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
}
.search {
	clear: both;
	overflow: hidden;
	padding-top: 10px;
}
.searchform {
	background:#f4f4f4;
	background:rgba(244,244,244,.79);
	border: 1px solid #d3d3d3;
	width:100%;
	height: 38px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;

}

.searchform input, .searchform button {
	float: left
}
.searchform input {
	background:#fefefe;
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	width: 77%;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px
}
.searchform input:focus {
	outline: none;
}
.searchform input::-webkit-input-placeholder {
	font-style: italic;
	line-height: 15px
}

.searchform input:-moz-placeholder {
	font-style: italic;
	line-height: 15px
}

.searchform button {
	background-color:white;
	border: none;
	color:#fff;
	cursor: pointer;
	font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	padding: 10px;
	width:20%;
	box-shadow: 0 0 2px white inset;
	-webkit-border-radius: 9px;
}
.searchform img {
	width: 80%;
	margin-top: -5px;
}
.searchform button:hover {
	opacity:.9;
}
.header-xs {
	padding-bottom: 30px;
}
.header1  img{
	width: 100%;
}
.top_logo_right {
	float: left;
	padding-left: 105px;
	padding-top: 10px;
}
.list-inline , .list-inline1 {
	margin-bottom: 0px;
}
.list-inline a:link ,.list-inline a:hover , .list-inline a:visited {
	color: black;
	text-decoration: none;
}
.list-inline a {
	font-size: 12px;
}
.list-inline li {
	padding-left:25px;
}
.menu-header {
	float: left;
	width: 100%;
}
.list-inline1 {
	list-style: none;
	float: left;
	width: 100%;
}
.list-inline1 a:link ,.list-inline1 a:hover,.list-inline1 a:visited {
	color: rgb(0, 110, 255);
	text-decoration: none;
}
.list-inline1 a:hover {
	opacity: 0.3;
}
.list-inline1 a {
	font-size: 20px;
}
.list-inline1 li {
	float: left;
	margin-right: 32px;
}
.main-content {
	clear: both;
}
.duongdan {
	float: left;
	width: 100%;
	background: rgb(0, 110, 255);
	margin-top: 5px;
}
.duongdan p {
	color: white;
	font-style: italic;
	float: left;
	padding-top: 10px;
	padding-left: 5px;
}
.duongdan span{
	float: right;
	color: white;
	padding-right: 10px;
	font-size: 16px;
	padding-top: 10px;
}
#duongdan {
	padding-left: 35px
}
.blog {
	float: left;
	width: 100%;
}
.blog-tittle h3 {
	color: rgb(0, 110, 255);
}
.blog-tittle {
	padding-left: 30px;
}
.blog-content img {
	width: 60%;
	margin-left: 20%;
	margin-right : 20%;
}
.blog-content p {
	padding-left: 30px;
	font-size: 18px;
}
.blog-content i {
	text-align: center;
	display: block;
	padding-top: 10px;
	padding-bottom: 20px;
}
.blog-content span {
	display: block;
	padding-bottom: 20px;
	padding-left: 30px;
}
.tacgia img{
	width: 15%;
	border-radius:50%;
}
.tacgia {
	text-align: center;
}
.tacgia p {
	font-style: italic;
	padding-top: 5px;
}
.blogkhac {
	float: left;
	width: 100%;
}
.blog1 {
	float: left;
	width: 100%;
	margin-top: 15px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding-bottom: 20px;
	padding-top: 20px;
	background: url('../img/blog/banner.jpg') center center;
}
.content-blog1 {
	padding: 5px 15px 10px;
	background: rgba(0,0,0,.075);
}
.title-blog1 a:link ,.title-blog1 a:hover ,.title-blog1 a:visited {
	color: black;
	text-decoration: none;
}
.title-blog1 h2 {
	font-size: 18px;
	text-align: center;
}
.img-blog1 img {
	width: 100%;
}
.text-blog1 p {
	font-style: italic;
	font-size: 14px;
}
.text-blog1 a:link ,.text-blog1 a:hover , .text-blog1 a:visited {
	color: rgb(0, 110, 255) ;
	text-decoration: none;
}
.blog1 h3 {
	font-size: 18px;
}
.blog1-img img{
	width: 100%;
}
.blog1-text a:link , .blog1-text a:hover , .blog1-text a:visited{
	color: rgb(0, 110, 255) ;
	text-decoration: none;
}
footer {
	float: left;
	width: 100%;
	background-color: #ddd;
	margin-top: 30px;
}
.menu-footer {
	float: left;
	width: 100%;
}
.menu-footer1 {
	border-top: 1px solid #565656 ;
	padding-bottom: 15px;
}
.menu-footer h2 {
	text-align: center;
	font-size: 20px;
}
.menu-footer3 {
	float: left;
	width: 100%;
	padding-top : 10px;
}
.menu-footer2 a:link , .menu-footer2 a:hover , .menu-footer2 a:visited , .menu-footer3 a:link , .menu-footer3 a:hover , .menu-footer3 a:visited {
	color: #565656;
	text-decoration: none;
}
.menu-footer3 ul {
	float: left;
}
.menu-footer3 li {
	width: 50%;
	float: left;
}
.under-footer {
	float: left;
	border-top: 1px solid #565656;
	width: 100%;
}
.under-footer-text {
	padding-left: 0px;
	padding-right: 0px;
}
.under-footer-text ul {
	list-style: none;
	float: left;
	padding-left: 5px;
	width: 100%;
}
.under-footer-text li {
	width: 33%;
	float: left;
	padding-top: 5px;
	text-align: center;
}
.under-footer-text a:link , .under-footer-text a:hover , .under-footer-text a:visited {
	color: #565656;
	text-decoration: none;
}
.under-footer-text img {
	width: 15%;
	margin-right: 20px;
	margin-left: 5px;
}
.banquyen h4 {
	color: #565656;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
}
.back img{
	width: 50px;
	position: fixed;
	right: -4px;
	bottom: 10px;
	z-index: 10000;
	display: none;
}

@media ( min-width: 750px) {
	.searchform {
		height: auto;
	}
	.searchform input {
		font-size: 15px
	}
	.header1 img {
		margin-left: 50px;
		width: 41%;
	}
	.header2 , .header1 , .header3 {
		padding-left: 0;
		padding-right: 0;
	}
	.top_logo_right {
		padding-top: 4px;
		padding-left: 35px;
	}
	.list-inline1 li {
		padding-top: 5px;
		margin: 0 20px;
	}
	.icon-search {
		color: rgb(0, 110, 255);
		font-size: 17px;
	}
	.list-inline1 {
		padding-left: 0px;
	}
	.icon-search {
		color: rgb(0, 110, 255);
		font-size: 17px;
	}
	.list-inline1 {
		padding-left: 0px;
	}
	.menu-footer1 {
		border-bottom: none;
		border: 1px solid #ddd;
	}
	.menu-footer3 li {
		padding-left: 0;
	}
	.under-footer-text img {
		width: 12%;
		margin-right: 15px;
		margin-left: 20px;
	}
	.under-footer {
		padding-bottom: 20px;
	}
	.under-footer-text ul {
		padding-top: 5px;
	}
}
@media ( min-width: 970px) {
	.search {
		padding-top: 22px;
	}
	.top_logo_right {
		padding-top: 10px;
		padding-left: 132px;
	}
	.list-inline1 li {
		padding-top: 10px;
		margin-left: 25px;
		margin-right: 61px;
	}
	.header3{
		padding-right: 25px;
	}
	.under-footer-text img {
		width: 12%;
		margin-right: 27px;
	}
	.under-footer-text li {
		width: 20%;
	}
	.diennuoc-tittle p {
		padding-top: 10px;
	}
	.diennuoc-button {
		margin-top: 20px;
	}
	.dien {
		padding: 20px;
	}
}
@media (min-width: 1170px){
	.list-inline1 a {
		font-size: 28px;
	}
	.top_logo_right {
		padding-left: 246px;
	}
	.menu {
		margin: 0px;
	}
	.under-footer-text ul {
		padding-top: 15px;
	}
	.under-footer-text img {
		margin-left: 30px;
	}
	.back img {
		width: 65px;
		right: 13px;
	}
}
